body {
    background: linear-gradient(135deg, #E2B59A, #FFF0D1);
    font-family: 'Cairo', sans-serif;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.logo {
    width: 120px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #333;
    font-size: 16px;
}

.password-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-field button {
    background: #B77466;
    border: none;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #B77466;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #E2B59A;
}

.error {
    color: #ffdddd;
    background: rgba(255,0,0,0.3);
    border-radius: 8px;
    padding: 8px;
}
